/* CSS Document */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 15px;
}
main{
    display: grid;
    grid-template-columns: 250px 1fr;
}
.heading{
    font-size: 19px;
}
#map{
    height: 100vh;
}
.storeList{
    height: 100vh;
    overflow: auto;
    background-color: whitesmoke;
    /* box-shadow: 0 3px 14px rgb(0 0 0 / 60%); */
}
.storeList ul.list p {
	font-size: 14px;
}
.storeList .heading{
    background-color: #dd6d25;
    color: white;
}
.storeList .heading h2{
    padding: 1rem;
}
::-webkit-scrollbar{
    width: 3px;
    height: 3px;
    border-left: 0;
    background-color: rgba(0,0,0,.1);
}
::-webkit-scrollbar-thumb{
    background-color: #ff6900;
    border-radius: 0;
}
.storeList ul.list{
    padding: 0 1rem;
    list-style-type: none;
}
.storeList .shopItem{
    margin: 1rem 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 1rem;
}
.storeList li:last-child .shopItem{
   border: none;
}
.shopItem a{
    color: #dd6d25;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}
.leaflet-popup-content-wrapper{
    padding: 0;
    overflow: hidden;
}
.leaflet-popup-content-wrapper {
    border-radius: 5px;
}
.leaflet-popup-content-wrapper .leaflet-popup-content{
    margin: 0;
    background-color: #fffdf5 !important;
}
.locationDiv {
    background-color: #fff;
}
.leaflet-popup-content-wrapper h4{
    padding: 0.65rem 1rem 0.65rem 1rem;
    color: white;
    background-color: #eb6c1a;
    font-size: 16px;
}
.leaflet-popup-content-wrapper p{
    padding: 0 16px;
    font-size: 14px;
    margin-bottom: 14px;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .phoneNumber{
    padding: 16px;
    padding-top: 0;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .phoneNumber a{
    color: #e96000;
    font-size: 14px;
    /* font-weight: 600; */
}
.leaflet-popup-content-wrapper .leaflet-popup-content .siteLink{
    padding: 16px;
    padding-top: 0;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .siteLink a{
    color: #e96000;
    font-size: 14px;
    /* font-weight: 600; */
}